<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bkProject.p1.dao.PostMapper">
    <!--<mapper namespace="com.bkProject.p1.dao.PostMapper">-->

    <insert id="insert" parameterType="PostDto">
        <selectKey resultType="int" keyProperty="pno" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>

        insert into post(title, category, main_content, detail_content, hourly_cost, area_info, writer,start_time,end_time, like_cnt,view_cnt,comment_cnt)
        values (#{title}, #{category}, #{main_content}, #{detail_content},  #{hourly_cost}, #{area_info}, #{writer}, #{start_time}, #{end_time},#{like_cnt},#{view_cnt}, #{comment_cnt});
    </insert>


    <delete id="deleteAll">
        /*set foreign_key_checks=1;
        set foreign_key_checks=0;
        delete from post_img;*/
        delete from post;
    </delete>

    <insert id="imgInsert">
        insert into post_img(pno,fileName,uploadPath,uuid) values(#{pno},#{fileName},#{uploadPath},#{uuid})
    </insert>

    <select id="selectPage" parameterType="map" resultType="PostDto">
        select pno,title, category,hourly_cost, area_info, like_cnt, view_cnt
        from post
        ORDER BY pno DESC
        LIMIT #{offset},#{pageSize};
    </select>

<!--    <select id="selectAll"  resultType="PostDto">
        select  title, category,hourly_cost, area_info, like_cnt, view_cnt
        from post;
    </select>-->

    <select id="count" resultType="int">
        select count(*) from post;
    </select>
</mapper>