<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bkProject.p1.dao.ScheduleMapper">
    <!--<mapper namespace="com.bkProject.p1.dao.PostMapper">-->


    <select id="getSchedule" resultType="ScheduleDto" parameterType="ScheduleDto">
        select * from schedule
        where pno=#{pno} and year=#{year} and month=#{month} and day=#{day};
    </select>

    <insert id="insert" parameterType="ScheduleDto">
        insert into schedule (pno, year, month, day, time)
        values (#{pno},#{year},#{month},#{day},#{time});
    </insert>

    <delete id="deleteAll">
        delete from schedule;
    </delete>

    <delete id="deletePost" parameterType="int">
        delete from schedule where pno=#{pno};
    </delete>

    <update id="update" parameterType="ScheduleDto">
        update schedule
        set time=#{time}
        where pno=#{pno} and year=#{year} and month=#{month} and day=#{day};
    </update>

</mapper>